<a href="https://colab.research.google.com/github/ThisisHubert/INIADresearch/blob/main/(INIAD_Research).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
zip_file = keras.utils.get_file(
    fname="cora.tgz",
    origin="https://linqs-data.soe.ucsc.edu/public/lbc/cora.tgz",
    extract=True,
)
data_dir = os.path.join(os.path.dirname(zip_file), "cora")

Downloading data from https://linqs-data.soe.ucsc.edu/public/lbc/cora.tgz
172032/168052 [==============================] - 0s 1us/step
180224/168052 [================================] - 0s 1us/step

In [ ]:
citations = pd.read_csv(
    os.path.join(data_dir, "cora.cites"),
    sep="\t",
    header=None,
    names=["target", "source"],
)
print("Citations shape:", citations.shape)

Citations shape: (5429, 2)

In [ ]:
citations.sample(frac=1).head()

      target  source
1789   12182   28632
453     1365  628500
69        35  206371
1551    8224   49847
1356    6334  200480

# New section

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New section